<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcomeee!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        This is ROT13 random String: 
        {{html}}
        <br/>
        <br/>
        this is ROT13 random Array: {{html2}}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
